.carousel-container{
    position: relative;
}
.leftArrow{
    position: absolute;
    color:white;
    top: 50%;
    font-size: 2rem;
    transform: translate(0,-50%);
    left: 1rem;
    z-index: 1;
    cursor: pointer;
} 
.rightArrow{
    position: absolute;
    color:white;
    top: 50%;
    font-size: 2rem;
    transform: translate(0,-50%);
    right: 1rem;
    z-index: 1;
    cursor: pointer;
}
.Gallery{
    display: flex;
    justify-content: center;
}
.gallery-images{
    margin-top: 1em;
    margin-right: 0.2em;
    cursor: pointer;
}